*{
    box-sizing: border-box;
}
/*header*/
header{
    display: flex;
    border: 1px none ;
    box-shadow: 0px 0px 2px 1px #3f3e3e;
    text-align: center;
    background-color: #2565d2;
    color: whitesmoke;
}
body{
    background: url(assets/Images/background-body-mobile.jpg) no-repeat;
}
.Iconretour{
    width: 80px;
    height: 50px;
}
.titredepage{
    border-top:1px none  ;
    border-left: 1pt solid black ;
    border-bottom: none;
    margin: 6px 2PX  3px 4px;
    padding: 9px 2PX  3px 4px; 
    font-size: large;
    font-weight: bolder;  
}
/*MAIN*/
.wrapped{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px #3f3e3e;
    background: whitesmoke;
    
}
.wrapped_iconcontener{
    border: 1px solid black;
    margin: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;;
}
.photo_profil_contener{
    border: 1px solid black;
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    margin-top: 10px ;
    margin-bottom: 10px ;
}


.photo_profil{
    margin: 10px 0px 0px 20px;
    width: 100px;
    height: 100px;
    
}
.info_personnel{
    margin: 20px;
}
input{
    display: block;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    border-top:1px none  ;
    border-left: none ;
    border-bottom: 2px solid gray;
    border-right: none;
}
button{
    width: 140px;
    padding: 10px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: large;
    color: whitesmoke;
}
.cancel_button:hover{
   background-color:  #f85149;
   color: whitesmoke;
}
.Save_button:hover{
    box-shadow: 0 0 3pt 3pt #509f4b;
    padding: 11px;
}
.cancel_button{
    border:3px solid #d92626;
    color: #d92626;

}
.Save_button{
    background: #399932;
}


/*FOOTER*/
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 25%;
    background-color: #c0d0ed;
    box-shadow: #c0d0ed;

}
.icone_reseau_social{
    width: 25px;

}
@media screen and (min-width: 768px) {
    .wrapped{
        box-shadow: 1px 1px 2px 1px #3f3e3e;
        margin-left: 100px;
        margin-right: 100px;
    }
    header{
        border-radius: 10px;
    }
    footer{
        border-radius: 10px;
    }
    input{
        padding-top: 10px;
    }
    button{
        width: 140px;
        padding: 10px;
        margin-left: 100px;
        margin-top: 50px;
        border-radius: 10px;
        font-size: x-large;
        color: whitesmoke;
    }
    body{
        /* background: url("/assets/Images/l'armoirie.png") no-repeat center fixed */
         
        padding: 10PX;
    }
}

