*{
    box-sizing: border-box;
}
body{
    background-image: url(assets/Images/background-body-mobile.jpg);
}
.page_container{
    background-color: #d9d9d9;
}
header{
    box-shadow: 0px 0px 2PX 1px #3f3e3e;
    background-color: #2565d2;
}
.headercontainer{
    display: flex;
}
.fleche_container{
    width: 20%;
    border-right: 1px solid black;  
}
.fleche_container i{
    color: white;
    font-size: xx-large;
    margin-left: 10px;
    margin-top: 10px;
}
.text_container{
    width: 80%;
    margin-left: 30px;
    margin-top: 20px;
    color: aliceblue;
    font-size: large;
    font-weight: bolder;
}
.profil_container{
    width: 99%;
    height: 45%;
    border: solid #3f3e3e;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
}
.profil i{
    font-size: 80px;
    margin-left: 40px;
    margin-top: 40px;
    color: whitesmoke;
}
.profil{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: #c0d0eb;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.design{
    display: none;
}
.input input{
    border-bottom: 1px solid #3f3e3e;
    border-top:none;
    border-right: none;
    border-left: none;
    width: 99%;
    margin-top: 50px;
    padding-top: 10px;
    background-color: #d9d9d9;
}
.button_container{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
.button_container button{
    padding: 10px;
    width: 150px;
    border-radius: 10px;
    color: #d9d9d9;
    font-size: large;
    margin-bottom: 20px;
}
.Annuler button{
    background-color: #da3633;
}
.Annuler button:hover{
    box-shadow: 0 0 3pt 2pt #da3633;
}
.Enregistrer button{
    background-color: #399932;
}
.Enregistrer button:hover{
    box-shadow: 0 0 3pt 2pt #399932;
}

footer{
    box-shadow: 0 0 2px 1px #3f3e3e;
    background-color: #C0d0eb;
    display: flex;
    justify-content: space-around;
}
.icon-reseau a{
    margin-top: 20px;
    width: 25px;
    display: inline-block;
}
.copyrigth{
    margin-top: 15px;
}
/*Le responsive*/
@font-face {
    font-family: Lato-bold;
    src: url(assets/Fonts/Lato-Bold.ttf);
}
@media screen and (min-width:800px){
    .fleche_container i{
        color: whitesmoke;
        font-size: 80px;
        margin-left: 30px;
        margin-top: 30px;
    }
    .main-container{
        display: flex;
        justify-content: space-around;
        width: 90%;
        height: 40%;
        border: 1px solid black;
        margin-left: 85px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    @media screen and (min-width: 1024px) {
    .design{
        display: block;
        width: 900px;
        border: 3px solid #3f3e3e65;
        height: 600px;
        margin-top: 40px;
        margin-bottom: 40px;
        border-radius: 10px;
        background-image: url(assets/Icons/Online\ document-rafiki.png);
        background-size: 85%;
        background-repeat: no-repeat;
        background-position: center;
    }
    }
    .design div{
        text-align: center;
        font-family: Lato-bold;
        font-size: xx-large;
        margin-top: 60px;
        font-family: Lato-bold;
    }
    header{
    height: 150px;
    }
    .fleche_container{
        width: 10%;
        border-right: 1px solid black;  
    }
    .text_container{
        width: 80%;
        margin-left: 700px;
        margin-top: 50px;
        color: aliceblue;
        font-size: x-large;
        font-weight: bolder; 
    }
    
    .profil_container{
        width: 99%;
        height: 20%;
        border: none;
        margin-top: 20px;
    }
    .profil i{
    width: 500px;
    height: 500px;
    margin-left: 40px;
    margin-top: 40px;
    color: whitesmoke;
    }
    .profil{
        border-radius: 50%;
        width: 150px;
        height: 150px;
        background-color: #c0d0eb;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .input input{
        background-color: #f5f5f5;
    }
    .button_container button{
    margin: 10PX;
    }
    /*footer*/
    footer{
        box-shadow: 0 0 2px 1px #3f3e3e;
        background-color: #C0d0eb;
        display: flex;
        justify-content: space-around;
        height: 100px;
    }
    .icon-reseau a{
        width: 50px;
        margin-top: 20px;
    }
    .copyrigth{
        margin-top: 50px;
    }

}