/* header*/
.container-logo-icon{
    display: flex;
    justify-content: space-between;
    background-color:#e3e4e8;
}
.container-liens{
    background-color:#e3e4e8;
}
.logoHP{
    width: 150px;
}
.icon-header-right{
    width: 30px;
}
nav a{
    padding: 8px;
    text-decoration: none;
    color: #3f3e3e;
    margin-left: 5px;
    font-size: large;
}
.container-header-image-text{
    background-image:url( assets/Images/background-header2.png );
    height: 130px;
}
.container-text{
    margin-left: 200px;
    padding-top: 40px;
    color: whitesmoke;
    font-size: large;
    font-weight: bolder;
}
/* main*/
.description_document span{
    padding: 5px;
}
.two-items-container{
    display: flex;
    padding-top: 10px;
    justify-content: space-around;
}
.container-item img{
    width: 168px;
    height: 100px;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 10px;
    box-shadow: 2PX 2PX 2PX;
}
.container-item{
    width: 173px;
    height: 230px;
    border-radius: 10px;
    background-color: whitesmoke;
}
h4{
    text-align: center;
    margin-top: -3px;
}
span{
    font-size: small;
    margin-left: 3px;
}
.container-apropos-vidéo{
    display: flex;
    justify-content: space-around;
}
.a-propos{
    width: 173;
    height: 140px;
    border-radius: 10px;
    margin-top: 2px;
}
.vidéo img{
    margin: 4px;
    width: 250px;
    height: 140px;
    border-radius: 10px;
}
/* footer*/
footer{
    background-image: url( assets/Images/LogoHomaBiope.png );
    box-shadow: 0 0 2px 1px #3f3e3e;
}
.font-footer{
    background: rgba(0, 0, 0, 0.709)
}
input{
    width: 100px;
    height: 10px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    
}
textarea{
    width: 100px; 
    border-radius: 5px;
    padding: 10px;
    margin-right: 5px;
    margin-top: 5px;
}
button{
    padding: 8px;
    width: 100px;
    background-color: #399932;
    border-radius: 10px;
    color: whitesmoke;
    font-size: large;
    margin-top: 10px;
}
button:hover{
    box-shadow: 0 0 7pt 4pt #399932;
}
.adresse_container{
    display: flex;
    justify-content: space-around;
}
.adresse{
font-size: small;
color: whitesmoke;
margin-top: 5px;
margin-left: 5px;

}
.message_alerte{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    font-weight: bolder;
    color: black;
    margin-right: 5px;
    margin-left: 5px;
}
.reseau_sociaux{
    width: 20px;
    display: inline-block;
}
.reseaux-sociaux-container{
    display: flex;
    justify-content: space-around;
}
